nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: red;
}

h1 {
  text-align: center;
  color: blueviolet;
  text-shadow: 2px 2px 2px blue;
}
